<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>DevOps Task Manager</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<header>
  <h1>DevOps Task Manager</h1>
  <div id="health">checking...</div>
</header>

<main>

  <div class="stats">
    <div>Total: <span id="total">0</span></div>
    <div>Done: <span id="done">0</span></div>
    <div>Pending: <span id="pending">0</span></div>
  </div>

  <input id="title" placeholder="New task">
  <button onclick="addTask()">Add</button>

  <div id="list"></div>

</main>

<script src="/static/js/app.js"></script>

</body>
</html>